// app global css

.relative
    position: relative;

.absolute
    position: absolute;

.bg-search
    height: 100%
    width: 100%;
    position: relative;
    filter: blur(0px);
    // left: 50%;
    // transform: translate(-50%, 5%);
    z-index: 1;

.text-white
    color: #FAFAFA;

.text-grey
    color: #F5F5F5;