// app global css

.border-cero
    border-radius: 2px;
.relative
    position: relative;

.absolute
    position: absolute;

.bg-search
    height: 100%
    width: 100%;
    position: relative;
    filter: blur(0px);
    // left: 50%;
    // transform: translate(-50%, 5%);
    z-index: 1;

.text-white
    color: #FAFAFA;

.text-grey
    color: #F5F5F5;

.my-menu-link
    color: #000;
    background: #E0E0E0;

.btn-customize 
  display: block;
  // width: 40px;
  // height: 40px;
  line-height: 10px;
  display: inline-block;
  border: 6px solid black;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  color: black;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  margin: 10px auto 0 auto;
  outline: none;
  transition: all 0.2s;
  font-weight: bold;
  text-decoration: none;
  background: rgba(255, 255, 255, 1);
  mix-blend-mode: screen;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

.play-btn
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

.btn-play:hover 
  background: rgba(255, 193, 7, 1);
  box-shadow: 0 0 10px rgba(255, 193, 7, 0.9);
  cursor: pointer;

.btn-customize:active
  transform: translateY(1px);
.trackBox 
  border: 2px solid transparent;
.isActive
  border-color: #FFAB00;
  
